* {
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.flex-container {
    height: 100vh;
    position: relative;
}
.flex-item {
    border-radius: 50%;
    height: 50px;
    /*margin:5px;*/
    position: absolute;
    width: 50px;
}
.flex-item-1 {
    background-color: red;
    right: 0;
    top: 0;
}
.flex-item-2 {
    background-color: green;
    right: 90%;
    top: 0;
}
.flex-item-3 {
    background-color: yellow;
    left: 0;
    top: 90%;
}
.flex-item-4 {
    background-color:blue;
    right: 0;
    top: 90%;
}

